{% extends "SearchPage.html" %}
{% block content %}
    <div id="idioms">{{ idioms }}</div>
    <div id="novels">{{ novels }}</div>
    <!--<script type="text/javascript">-->
        <!--$.getJSON("{%url 'search' %}", function (res) {-->
            <!--var idioms = res["idioms"];-->
            <!--var novels = res["cus"];-->
            <!--$("idioms").html(idioms);-->
            <!--$("novels").html(novels);-->
        <!--})-->
    <!--</script>-->
<!--<nav aria-label="Page navigation">-->
<!--<ul>-->
<!--{% if cus.has_previous %}-->
<!--<li>-->
<!--<a href="?page={{ cus.previous_page_number }}" aria-label="Previous">-->
<!--<span aria-hidden="true">-->
<!--&laquo;-->
<!--</span>-->
<!--</a>-->
<!--</li>-->
<!--{% endif %}-->
<!--{% for pg in cus.paginator.page_range %}-->
<!--{% if cus.number == pg %}-->
<!--<li class="active" ><a href="?page={{ pg }}">{{ pg }}</a></li>-->
<!--{% else %}-->
<!--<li><a href="?page={{ pg }}">{{ pg }}</a></li>-->
<!--{% endif %}-->
<!--{% endfor %}-->
<!--{% if cus.has_next %}-->
<!--<li>-->
<!--<a href="?page ={{ cus.next_page_number }}" aria-label="Next">-->
<!--<span aria-hidden="true">&raquo;</span>-->
<!--</a>-->
<!--</li>-->
<!--{% endif %}-->
<!--</ul>-->
<!--</nav>-->
{% endblock %}