<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SearchPage</title>
    <link rel="stylesheet" href="/static/css/rich.css" />
</head>
<body>
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="editorSection">-->
                <!--<div class="pannel">-->
                    <!--<div class="pannelHeader">head</div>-->
                    <!--<div class="pannelBody">-->
                        <!--<div id="target">ceshi</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="editorTools">-->
                <!--<div class="pannel">-->
                    <!--<div class="pannelHeader">head</div>-->
                    <!--<div class="pannelBody">-->
                        <!--工具栏-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    {% include "SearchForm.html" %}
</body>
</html>