<!--<script>-->
    <!--$.ajaxSetup({-->
    <!--data: {csrfmiddlewaretoken: '{{ csrf_token }}' },-->
<!--});-->
<!--</script>-->
<form action="/searchRes/" method='get'>
    <!--{% csrf_token %}-->
    {{ form }}
    <input type="submit" value="提交" id="submit">
</form>
<div id='showform'></div>
<script>
    $(document).ready(function (){
        $("#submit").click(function () {
            var key=form.key;
            var words=form.words;
            $.get("{% url 'search-Res' %}",
                {"key":key,"words":words},
                function (ret) {
                    $("#showform").html(ret);
                }
            )
        });
    })

</script>